.pannel-container {
  width: 100%;
  height: 100%;
  display: none;
  background-color:rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  padding: 15% 40%;
  position: fixed;
  .pannel {
    -webkit-box-shadow: inset 0px 0px 95px -20px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 0px 0px 95px -20px rgba(0,0,0,0.6);
    box-shadow: inset 0px 0px 95px -20px rgba(0,0,0,0.6);
    height: 400px;
    width: 300px;
    display: block;
    border-radius: 10%;
    border: 2px #b1b1b1 solid;
    background: rgba(230,230,230,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 53%, rgba(230,230,230,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(230,230,230,1)), color-stop(53%, rgba(255,255,255,1)), color-stop(100%, rgba(230,230,230,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 53%, rgba(230,230,230,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 53%, rgba(230,230,230,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 53%, rgba(230,230,230,1) 100%);
    background: radial-gradient(ellipse at center, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 53%, rgba(230,230,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=1 );
    .pannel-title {
      font-family: $font-family;
      text-align: center;
      font-size: 24px;
    }
    .score {
      font-family: $font-family;
      text-align: center;
      font-size: 16px;
    }
    .options {
      list-style: none;
      padding:0;
      padding-left:80px;
      font-family:$font-family;
      font-size: 18px;
      text-align: left;
      .option {
        margin-top:15px;
        cursor: pointer;
        label {
          cursor: pointer;
          padding-left: 10px;
        }
        select {
          span {
            height: 5px;
            width: 10px;
          }
        }
        input {
          border-radius:5%;
          padding:10px;
          border: 2px solid rgb(130, 130, 130);
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          outline:none;
        }
      }
    }
  }
}
#mycanvas {
  cursor: pointer;
  border:1px black solid;
  display: block;
  margin: 50px auto;
}
